@import './variable.scss';


.dinoHungry {
    min-width: 20px;
    height: 20px;
    background: $dino-hungry-color !important;
    padding: 0px;
    margin: 0px
}

.dinoNotHungry {
    min-width: 20px;
    height: 20px;
    background: $dino-not-hungry-color !important;
    padding: 0px;
    margin: 0px
}

.blankCell {
    min-width: 20px;
    height: 20px;
    background: $blank-cell-color !important;
    padding: 0px;
    margin: 0px
}

.imagePng {
    width: 20px;
    height: 20px;
}

.xAxis {
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px; 
    color: $x-axis-color;
    font-size: 12px
}

.yAxisLabels {
    margin-left: -1px;
    margin-bottom: -1px; 
    margin-top: -1px;
    color: $y-axis-color;
    font-size: 10px;
    height: 22px;
    width: 20px;
}

.yAxis {
  position: relative;
}