@import './variable.scss';

.wrapper {
    display: inline-grid;
    border: 1px solid $grid-lines-color;
    grid-gap: 1px;
    background-color: $grid-lines-color;
  }
  
  .wrapper > div {
    background-color: white;
    text-align: center;
  }

  .wrapperYAxis {
    display: inline-grid;
    border: 1px solid $grid-lines-color;
    grid-gap: 1px;
    background-color: $grid-lines-color;
    position: relative;
    top: -5px;
  }

  .wrapperYAxis > div {
    background-color: white;
    text-align: center;
  }

  .App {
    background:$background-color;
  }

  .dataCol {
    min-width: 500px;
    max-width: 680px;
  }

  .titleDinoParks {
    margin-top: 4px;
    padding-left: 15px;
    float: left;
    font-weight: 600;
  }

  .titleDate {
    margin-top: 10px;
    padding-right: 30px;
    float: right;
    font-weight: 400;
  }

  .cardPanelCustom {
    border-radius: 5px
  }

  .mainRowPadding {
    padding-top: 70px
  }

  .errorMessage {
    color: $error-message-color;
    font-size: 20px;
    font-weight: bold;
  }