@import './variable.scss';

.navBarHeader {
    background:$nav-bar-color;
    height: 80px;
}

.navBarLogo {
    max-height: 80px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 40px
}