
/* ----------- Page styles----------- */ 

$background-color:#f0f4f7;
$nav-bar-color:#f0f4f7;

/* ----------- dinosaur styles----------- */ 

$dino-hungry-color: red;
$dino-not-hungry-color: #51B687;
$blank-cell-color: white;

/* ----------- Table Styles ----------- */ 

$x-axis-color: #bcbec4;
$y-axis-color: #bcbec4;
$grid-lines-color: #f3f4f6;

/*------------- error ------------------*/

$error-message-color: red;